debugKeyAlias=DEBUG_KEY_ALIAS
debugKeyPassword=DEBUG_KEY_PASSWORD
debugStoreFile=DEBUG_STORE_FILE
debugStorePassword=DEBUG_STORE_PASSWORD

releaseKeyAlias=RELEASE_KEY_ALIAS
releaseKeyPassword=RELEASE_KEY_PASSWORD
releaseStoreFile=RELEASE_STORE_PASSWORD
releaseStorePassword=RELEASE_STORE_PASSWORD